    5% {border-color: #39BF3F;}
    10% {border-color: #3EC453;}
    15% {border-color: #42C967;}
    20% {border-color: #4BD38F;}
    25% {border-color: #53DCB7;}
    30% {border-color: #51D8BF;}
	35% {border-color: #4ED4C6;}
    40% {border-color: #48CCD4;}
    45% {border-color: #43C4E3;}
    50% {border-color: #3DBBF1;}
    55% {border-color: #3DBBF1;}
    60% {border-color: #43C4E3;;}
	65% {border-color: #48CCD4;}
    70% {border-color: #4ED4C6;}
    75% {border-color: #51D8BF;}
    80% {border-color: #53DCB7;}
    85% {border-color: #4BD38F;}
    90% {border-color: #42C967;}
	95% {border-color: #3EC453;}
	100% {border-color: #39BF3F;}